
venv/
env/
.venv/
.env/

__pycache__/
*.pyc
*.pyo
*.pyd

.eggs/
*.egg-info/
dist/
build/
eggs/
parts/
bin/
include/
lib/
lib64/
share/
sdist/
develop-eggs/
*.egg


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


*.env
.env
config.ini
secrets.ini


.DS_Store


Thumbs.db